@keyframes dashDown {
   0% {
      stroke-dashoffset: 200;
   }
   100% {
      stroke-dashoffset: 0;
   }
}

@keyframes fadeInUp {
   0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
   }

   100% {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
   }
}

@keyframes fedeInUp20px {
   0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 20px, 0);
      transform: translate3d(0, 20px, 0);
   }
   100% {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
   }
}
.fadeInUp {
   animation: fadeInUp 1s ease-in-out;
}
.fedeInUp20px {
   animation: fedeInUp20px 1s ease-in-out;
}
.delay-1 {
   animation-delay: 0.2s;
}
