<section class="customers">

   <div class="customers__container">

      <div class="customers__container-title">
         <h1>Hello Evano &#128075;,</h1>
      </div>

      <div class="customers__container-table">

         <div class="table">

            <div class="table__container">
               <div class="table__container-title">
                  <h2>All Customers</h2>
                  <p>Active Members</p>
               </div>

               <div class="table__container-form">
                  <form action="#">
                     <img src="../img/search.svg" alt="Search">
                     <input type="search" placeholder="Search">
                  </form>
               </div>
            </div>

            <!--Table-->
            <div class="table__data">

               <table>
                  <tr>
                     <th>Customer Name</th>
                     <th>Company</th>
                     <th>Phone Number</th>
                     <th>Email</th>
                     <th>Country</th>
                     <th>Status</th>
                  </tr>
               </table>

            </div>

         </div>

      </div>

   </div>

</section>