<section class="customers">

   <div class="customers__container">

      <div class="customers__container-title">
         <h1>Hello Evano &#128075;,</h1>
      </div>

      <div class="customers__container-table">

         <div class="table">

            <div class="table__container">
               <div class="table__container-title">
                  <h2>All Customers</h2>
                  <p>Active Members</p>
               </div>

               <div class="table__container-form">
                  <form action="#">
                     <img src="../img/search.svg" alt="Search">
                     <input type="search" placeholder="Search">
                  </form>
               </div>
            </div>

            <!--Table-->
            <div class="table__data">

               <table id="myTable">
                  <tr class="table-top">
                     <th>Customer Name</th>
                     <th>Company</th>
                     <th>Phone Number</th>
                     <th>Email</th>
                     <th>Country</th>
                     <th>Status</th>
                  </tr>
                  <!--1-->
                  <tr>
                     <td>Jane Cooper</td>
                     <td>Microsoft</td>
                     <td>(225) 555-0118</td>
                     <td>jane@microsoft.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--2-->
                  <tr>
                     <td>Floyd Miles</td>
                     <td>Yahoo</td>
                     <td>(205) 555-0100</td>
                     <td>floyd@yahoo.com</td>
                     <td>Kiribati</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--3-->
                  <tr>
                     <td>Ronald Richards</td>
                     <td>Adobe</td>
                     <td>(302) 555-0107</td>
                     <td>ronald@adobe.com</td>
                     <td>Israel</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--4-->
                  <tr>
                     <td>Marvin McKinney</td>
                     <td>Tesla</td>
                     <td>(252) 555-0126</td>
                     <td>marvin@tesla.com</td>
                     <td>Iran</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--5-->
                  <tr>
                     <td>Jerome Bell</td>
                     <td>Google</td>
                     <td>(629) 555-0129</td>
                     <td>jerome@google.com</td>
                     <td>Réunion</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--6-->
                  <tr>
                     <td>Kathryn Murphy</td>
                     <td>Microsoft</td>
                     <td>(406) 555-0120</td>
                     <td>kathryn@microsoft.com</td>
                     <td>Curaçao</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--7-->
                  <tr>
                     <td>Jacob Jones</td>
                     <td>Yahoo</td>
                     <td>(208) 555-0112</td>
                     <td>jacob@yahoo.com</td>
                     <td>Brazil</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--8-->
                  <tr>
                     <td>Kristin Watson</td>
                     <td>Facebook</td>
                     <td>(704) 555-0127</td>
                     <td>kristin@facebook.com</td>
                     <td>Åland Islands</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--9-->
                  <tr>
                     <td>Maria Rodriguez</td>
                     <td>Amazon</td>
                     <td>(305) 555-0189</td>
                     <td>maria@amazon.com</td>
                     <td>Spain</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--10-->
                  <tr>
                     <td>John Smith</td>
                     <td>Apple</td>
                     <td>(408) 555-0147</td>
                     <td>john@apple.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--11-->
                  <tr>
                     <td>Anna Lee</td>
                     <td>Netflix</td>
                     <td>(213) 555-0165</td>
                     <td>anna@netflix.com</td>
                     <td>South Korea</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--12-->
                  <tr>
                     <td>Michael Johnson</td>
                     <td>Microsoft</td>
                     <td>(425) 555-0134</td>
                     <td>michael@microsoft.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--13-->
                  <tr>
                     <td>Susan Thompson</td>
                     <td>Google</td>
                     <td>(650) 555-0151</td>
                     <td>susan@google.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--14-->
                  <tr>
                     <td>David Garcia</td>
                     <td>Facebook</td>
                     <td>(301) 555-0172</td>
                     <td>david@facebook.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--15-->
                  <tr>
                     <td>Emily Brown</td>
                     <td>Twitter</td>
                     <td>(415) 555-0116</td>
                     <td>emily@twitter.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--16-->
                  <tr>
                     <td>Christopher Martinez</td>
                     <td>Amazon</td>
                     <td>(206) 555-0183</td>
                     <td>christopher@amazon.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--17-->
                  <tr>
                     <td>Alice Clark</td>
                     <td>Netflix</td>
                     <td>(310) 555-0149</td>
                     <td>alice@netflix.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--18-->
                  <tr>
                     <td>Robert Hall</td>
                     <td>Apple</td>
                     <td>(408) 555-0190</td>
                     <td>robert@apple.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--19-->
                  <tr>
                     <td>Sarah White</td>
                     <td>Google</td>
                     <td>(650) 555-0160</td>
                     <td>sarah@google.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--20-->
                  <tr>
                     <td>James Brown</td>
                     <td>Facebook</td>
                     <td>(301) 555-0175</td>
                     <td>james@facebook.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--21-->
                  <tr>
                     <td>Emma Martinez</td>
                     <td>Twitter</td>
                     <td>(415) 555-0121</td>
                     <td>emma@twitter.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--22-->
                  <tr>
                     <td>Daniel Garcia</td>
                     <td>Amazon</td>
                     <td>(206) 555-0186</td>
                     <td>daniel@amazon.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--23-->
                  <tr>
                     <td>Olivia Clark</td>
                     <td>Netflix</td>
                     <td>(310) 555-0154</td>
                     <td>olivia@netflix.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--24-->
                  <tr>
                     <td>William Hall</td>
                     <td>Apple</td>
                     <td>(408) 555-0195</td>
                     <td>william@apple.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--25-->
                  <tr>
                     <td>Ava White</td>
                     <td>Google</td>
                     <td>(650) 555-0166</td>
                     <td>ava@google.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--26-->
                  <tr>
                     <td>Joseph Brown</td>
                     <td>Facebook</td>
                     <td>(301) 555-0179</td>
                     <td>joseph@facebook.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--27-->
                  <tr>
                     <td>Sophia Martinez</td>
                     <td>Twitter</td>
                     <td>(415) 555-0124</td>
                     <td>sophia@twitter.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--28-->
                  <tr>
                     <td>Matthew Hernandez</td>
                     <td>Amazon</td>
                     <td>(206) 555-0180</td>
                     <td>matthew@amazon.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--29-->
                  <tr>
                     <td>Isabella Lee</td>
                     <td>Netflix</td>
                     <td>(310) 555-0157</td>
                     <td>isabella@netflix.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--30-->
                  <tr>
                     <td>Ethan Taylor</td>
                     <td>Apple</td>
                     <td>(408) 555-0191</td>
                     <td>ethan@apple.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--31-->
                  <tr>
                     <td>Charlotte Brown</td>
                     <td>Google</td>
                     <td>(650) 555-0169</td>
                     <td>charlotte@google.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--32-->
                  <tr>
                     <td>Mason Thompson</td>
                     <td>Facebook</td>
                     <td>(301) 555-0182</td>
                     <td>mason@facebook.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--33-->
                  <tr>
                     <td>Amelia Clark</td>
                     <td>Twitter</td>
                     <td>(415) 555-0125</td>
                     <td>amelia@twitter.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--34-->
                  <tr>
                     <td>Logan Garcia</td>
                     <td>Amazon</td>
                     <td>(206) 555-0181</td>
                     <td>logan@amazon.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--35-->
                  <tr>
                     <td>Harper White</td>
                     <td>Netflix</td>
                     <td>(310) 555-0158</td>
                     <td>harper@netflix.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--36-->
                  <tr>
                     <td>Lucas Hall</td>
                     <td>Apple</td>
                     <td>(408) 555-0192</td>
                     <td>lucas@apple.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--37-->
                  <tr>
                     <td>Abigail Green</td>
                     <td>Google</td>
                     <td>(650) 555-0170</td>
                     <td>abigail@google.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--38-->
                  <tr>
                     <td>Dylan Scott</td>
                     <td>Facebook</td>
                     <td>(301) 555-0183</td>
                     <td>dylan@facebook.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--39-->
                  <tr>
                     <td>Madison King</td>
                     <td>Twitter</td>
                     <td>(415) 555-0126</td>
                     <td>madison@twitter.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--40-->
                  <tr>
                     <td>Nathan Martinez</td>
                     <td>Amazon</td>
                     <td>(206) 555-0185</td>
                     <td>nathan@amazon.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--41-->
                  <tr>
                     <td>Grace Hernandez</td>
                     <td>Netflix</td>
                     <td>(310) 555-0159</td>
                     <td>grace@netflix.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--42-->
                  <tr>
                     <td>Elijah Lopez</td>
                     <td>Apple</td>
                     <td>(408) 555-0193</td>
                     <td>elijah@apple.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--43-->
                  <tr>
                     <td>Chloe Young</td>
                     <td>Google</td>
                     <td>(650) 555-0171</td>
                     <td>chloe@google.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--44-->
                  <tr>
                     <td>Liam Brown</td>
                     <td>Facebook</td>
                     <td>(301) 555-0184</td>
                     <td>liam@facebook.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--45-->
                  <tr>
                     <td>Zoe Hill</td>
                     <td>Twitter</td>
                     <td>(415) 555-0127</td>
                     <td>zoe@twitter.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--46-->
                  <tr>
                     <td>Logan Flores</td>
                     <td>Amazon</td>
                     <td>(206) 555-0187</td>
                     <td>logan@amazon.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--47-->
                  <tr>
                     <td>Emma Richardson</td>
                     <td>Netflix</td>
                     <td>(310) 555-0161</td>
                     <td>emma@netflix.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--48-->
                  <tr>
                     <td>Noah Brooks</td>
                     <td>Apple</td>
                     <td>(408) 555-0194</td>
                     <td>noah@apple.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--49-->
                  <tr>
                     <td>Grace White</td>
                     <td>Google</td>
                     <td>(650) 555-0172</td>
                     <td>grace@google.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--50-->
                  <tr>
                     <td>Benjamin Green</td>
                     <td>Facebook</td>
                     <td>(301) 555-0185</td>
                     <td>benjamin@facebook.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--51-->
                  <tr>
                     <td>Sophia Taylor</td>
                     <td>Twitter</td>
                     <td>(415) 555-0128</td>
                     <td>sophia@twitter.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--52-->
                  <tr>
                     <td>James Hill</td>
                     <td>Amazon</td>
                     <td>(206) 555-0188</td>
                     <td>james@amazon.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--53-->
                  <tr>
                     <td>Charlotte Richardson</td>
                     <td>Netflix</td>
                     <td>(310) 555-0162</td>
                     <td>charlotte@netflix.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--54-->
                  <tr>
                     <td>Mason Brooks</td>
                     <td>Apple</td>
                     <td>(408) 555-0196</td>
                     <td>mason@apple.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--55-->
                  <tr>
                     <td>Luna Young</td>
                     <td>Google</td>
                     <td>(650) 555-0173</td>
                     <td>luna@google.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--24-->
                  <tr>
                     <td>William Hall</td>
                     <td>Apple</td>
                     <td>(408) 555-0195</td>
                     <td>william@apple.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--25-->
                  <tr>
                     <td>Ava White</td>
                     <td>Google</td>
                     <td>(650) 555-0166</td>
                     <td>ava@google.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--26-->
                  <tr>
                     <td>Joseph Brown</td>
                     <td>Facebook</td>
                     <td>(301) 555-0179</td>
                     <td>joseph@facebook.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--27-->
                  <tr>
                     <td>Sophia Martinez</td>
                     <td>Twitter</td>
                     <td>(415) 555-0124</td>
                     <td>sophia@twitter.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--28-->
                  <tr>
                     <td>Matthew Hernandez</td>
                     <td>Amazon</td>
                     <td>(206) 555-0180</td>
                     <td>matthew@amazon.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--29-->
                  <tr>
                     <td>Isabella Lee</td>
                     <td>Netflix</td>
                     <td>(310) 555-0157</td>
                     <td>isabella@netflix.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--30-->
                  <tr>
                     <td>Ethan Taylor</td>
                     <td>Apple</td>
                     <td>(408) 555-0191</td>
                     <td>ethan@apple.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--31-->
                  <tr>
                     <td>Charlotte Brown</td>
                     <td>Google</td>
                     <td>(650) 555-0169</td>
                     <td>charlotte@google.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--32-->
                  <tr>
                     <td>Mason Thompson</td>
                     <td>Facebook</td>
                     <td>(301) 555-0182</td>
                     <td>mason@facebook.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--33-->
                  <tr>
                     <td>Amelia Clark</td>
                     <td>Twitter</td>
                     <td>(415) 555-0125</td>
                     <td>amelia@twitter.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--34-->
                  <tr>
                     <td>Logan Garcia</td>
                     <td>Amazon</td>
                     <td>(206) 555-0181</td>
                     <td>logan@amazon.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--35-->
                  <tr>
                     <td>Harper White</td>
                     <td>Netflix</td>
                     <td>(310) 555-0158</td>
                     <td>harper@netflix.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--36-->
                  <tr>
                     <td>Lucas Hall</td>
                     <td>Apple</td>
                     <td>(408) 555-0192</td>
                     <td>lucas@apple.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--37-->
                  <tr>
                     <td>Abigail Green</td>
                     <td>Google</td>
                     <td>(650) 555-0170</td>
                     <td>abigail@google.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--38-->
                  <tr>
                     <td>Dylan Scott</td>
                     <td>Facebook</td>
                     <td>(301) 555-0183</td>
                     <td>dylan@facebook.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--39-->
                  <tr>
                     <td>Madison King</td>
                     <td>Twitter</td>
                     <td>(415) 555-0126</td>
                     <td>madison@twitter.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--40-->
                  <tr>
                     <td>Nathan Martinez</td>
                     <td>Amazon</td>
                     <td>(206) 555-0185</td>
                     <td>nathan@amazon.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--41-->
                  <tr>
                     <td>Grace Hernandez</td>
                     <td>Netflix</td>
                     <td>(310) 555-0159</td>
                     <td>grace@netflix.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--42-->
                  <tr>
                     <td>Elijah Lopez</td>
                     <td>Apple</td>
                     <td>(408) 555-0193</td>
                     <td>elijah@apple.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--43-->
                  <tr>
                     <td>Chloe Young</td>
                     <td>Google</td>
                     <td>(650) 555-0171</td>
                     <td>chloe@google.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--44-->
                  <tr>
                     <td>Liam Brown</td>
                     <td>Facebook</td>
                     <td>(301) 555-0184</td>
                     <td>liam@facebook.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--45-->
                  <tr>
                     <td>Zoe Hill</td>
                     <td>Twitter</td>
                     <td>(415) 555-0127</td>
                     <td>zoe@twitter.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--46-->
                  <tr>
                     <td>Logan Flores</td>
                     <td>Amazon</td>
                     <td>(206) 555-0187</td>
                     <td>logan@amazon.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--47-->
                  <tr>
                     <td>Emma Richardson</td>
                     <td>Netflix</td>
                     <td>(310) 555-0161</td>
                     <td>emma@netflix.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--48-->
                  <tr>
                     <td>Noah Brooks</td>
                     <td>Apple</td>
                     <td>(408) 555-0194</td>
                     <td>noah@apple.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--49-->
                  <tr>
                     <td>Grace White</td>
                     <td>Google</td>
                     <td>(650) 555-0172</td>
                     <td>grace@google.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--50-->
                  <tr>
                     <td>Benjamin Green</td>
                     <td>Facebook</td>
                     <td>(301) 555-0185</td>
                     <td>benjamin@facebook.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--51-->
                  <tr>
                     <td>Sophia Taylor</td>
                     <td>Twitter</td>
                     <td>(415) 555-0128</td>
                     <td>sophia@twitter.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--52-->
                  <tr>
                     <td>James Hill</td>
                     <td>Amazon</td>
                     <td>(206) 555-0188</td>
                     <td>james@amazon.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--53-->
                  <tr>
                     <td>Charlotte Richardson</td>
                     <td>Netflix</td>
                     <td>(310) 555-0162</td>
                     <td>charlotte@netflix.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--54-->
                  <tr>
                     <td>Mason Brooks</td>
                     <td>Apple</td>
                     <td>(408) 555-0196</td>
                     <td>mason@apple.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--55-->
                  <tr>
                     <td>Luna Young</td>
                     <td>Google</td>
                     <td>(650) 555-0173</td>
                     <td>luna@google.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--24-->
                  <tr>
                     <td>William Hall</td>
                     <td>Apple</td>
                     <td>(408) 555-0195</td>
                     <td>william@apple.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--25-->
                  <tr>
                     <td>Ava White</td>
                     <td>Google</td>
                     <td>(650) 555-0166</td>
                     <td>ava@google.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--26-->
                  <tr>
                     <td>Joseph Brown</td>
                     <td>Facebook</td>
                     <td>(301) 555-0179</td>
                     <td>joseph@facebook.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--27-->
                  <tr>
                     <td>Sophia Martinez</td>
                     <td>Twitter</td>
                     <td>(415) 555-0124</td>
                     <td>sophia@twitter.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--28-->
                  <tr>
                     <td>Matthew Hernandez</td>
                     <td>Amazon</td>
                     <td>(206) 555-0180</td>
                     <td>matthew@amazon.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--29-->
                  <tr>
                     <td>Isabella Lee</td>
                     <td>Netflix</td>
                     <td>(310) 555-0157</td>
                     <td>isabella@netflix.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--30-->
                  <tr>
                     <td>Ethan Taylor</td>
                     <td>Apple</td>
                     <td>(408) 555-0191</td>
                     <td>ethan@apple.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--31-->
                  <tr>
                     <td>Charlotte Brown</td>
                     <td>Google</td>
                     <td>(650) 555-0169</td>
                     <td>charlotte@google.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--32-->
                  <tr>
                     <td>Mason Thompson</td>
                     <td>Facebook</td>
                     <td>(301) 555-0182</td>
                     <td>mason@facebook.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--33-->
                  <tr>
                     <td>Amelia Clark</td>
                     <td>Twitter</td>
                     <td>(415) 555-0125</td>
                     <td>amelia@twitter.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--34-->
                  <tr>
                     <td>Logan Garcia</td>
                     <td>Amazon</td>
                     <td>(206) 555-0181</td>
                     <td>logan@amazon.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--35-->
                  <tr>
                     <td>Harper White</td>
                     <td>Netflix</td>
                     <td>(310) 555-0158</td>
                     <td>harper@netflix.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--36-->
                  <tr>
                     <td>Lucas Hall</td>
                     <td>Apple</td>
                     <td>(408) 555-0192</td>
                     <td>lucas@apple.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--37-->
                  <tr>
                     <td>Abigail Green</td>
                     <td>Google</td>
                     <td>(650) 555-0170</td>
                     <td>abigail@google.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--38-->
                  <tr>
                     <td>Dylan Scott</td>
                     <td>Facebook</td>
                     <td>(301) 555-0183</td>
                     <td>dylan@facebook.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--39-->
                  <tr>
                     <td>Madison King</td>
                     <td>Twitter</td>
                     <td>(415) 555-0126</td>
                     <td>madison@twitter.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--40-->
                  <tr>
                     <td>Nathan Martinez</td>
                     <td>Amazon</td>
                     <td>(206) 555-0185</td>
                     <td>nathan@amazon.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--41-->
                  <tr>
                     <td>Grace Hernandez</td>
                     <td>Netflix</td>
                     <td>(310) 555-0159</td>
                     <td>grace@netflix.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--42-->
                  <tr>
                     <td>Elijah Lopez</td>
                     <td>Apple</td>
                     <td>(408) 555-0193</td>
                     <td>elijah@apple.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--43-->
                  <tr>
                     <td>Chloe Young</td>
                     <td>Google</td>
                     <td>(650) 555-0171</td>
                     <td>chloe@google.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--44-->
                  <tr>
                     <td>Liam Brown</td>
                     <td>Facebook</td>
                     <td>(301) 555-0184</td>
                     <td>liam@facebook.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--45-->
                  <tr>
                     <td>Zoe Hill</td>
                     <td>Twitter</td>
                     <td>(415) 555-0127</td>
                     <td>zoe@twitter.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--46-->
                  <tr>
                     <td>Logan Flores</td>
                     <td>Amazon</td>
                     <td>(206) 555-0187</td>
                     <td>logan@amazon.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--47-->
                  <tr>
                     <td>Emma Richardson</td>
                     <td>Netflix</td>
                     <td>(310) 555-0161</td>
                     <td>emma@netflix.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--48-->
                  <tr>
                     <td>Noah Brooks</td>
                     <td>Apple</td>
                     <td>(408) 555-0194</td>
                     <td>noah@apple.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--49-->
                  <tr>
                     <td>Grace White</td>
                     <td>Google</td>
                     <td>(650) 555-0172</td>
                     <td>grace@google.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--50-->
                  <tr>
                     <td>Benjamin Green</td>
                     <td>Facebook</td>
                     <td>(301) 555-0185</td>
                     <td>benjamin@facebook.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--51-->
                  <tr>
                     <td>Sophia Taylor</td>
                     <td>Twitter</td>
                     <td>(415) 555-0128</td>
                     <td>sophia@twitter.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--52-->
                  <tr>
                     <td>James Hill</td>
                     <td>Amazon</td>
                     <td>(206) 555-0188</td>
                     <td>james@amazon.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--53-->
                  <tr>
                     <td>Charlotte Richardson</td>
                     <td>Netflix</td>
                     <td>(310) 555-0162</td>
                     <td>charlotte@netflix.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--54-->
                  <tr>
                     <td>Mason Brooks</td>
                     <td>Apple</td>
                     <td>(408) 555-0196</td>
                     <td>mason@apple.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--55-->
                  <tr>
                     <td>Luna Young</td>
                     <td>Google</td>
                     <td>(650) 555-0173</td>
                     <td>luna@google.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--24-->
                  <tr>
                     <td>William Hall</td>
                     <td>Apple</td>
                     <td>(408) 555-0195</td>
                     <td>william@apple.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--25-->
                  <tr>
                     <td>Ava White</td>
                     <td>Google</td>
                     <td>(650) 555-0166</td>
                     <td>ava@google.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--26-->
                  <tr>
                     <td>Joseph Brown</td>
                     <td>Facebook</td>
                     <td>(301) 555-0179</td>
                     <td>joseph@facebook.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--27-->
                  <tr>
                     <td>Sophia Martinez</td>
                     <td>Twitter</td>
                     <td>(415) 555-0124</td>
                     <td>sophia@twitter.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--28-->
                  <tr>
                     <td>Matthew Hernandez</td>
                     <td>Amazon</td>
                     <td>(206) 555-0180</td>
                     <td>matthew@amazon.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--29-->
                  <tr>
                     <td>Isabella Lee</td>
                     <td>Netflix</td>
                     <td>(310) 555-0157</td>
                     <td>isabella@netflix.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--30-->
                  <tr>
                     <td>Ethan Taylor</td>
                     <td>Apple</td>
                     <td>(408) 555-0191</td>
                     <td>ethan@apple.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--31-->
                  <tr>
                     <td>Charlotte Brown</td>
                     <td>Google</td>
                     <td>(650) 555-0169</td>
                     <td>charlotte@google.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--32-->
                  <tr>
                     <td>Mason Thompson</td>
                     <td>Facebook</td>
                     <td>(301) 555-0182</td>
                     <td>mason@facebook.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--33-->
                  <tr>
                     <td>Amelia Clark</td>
                     <td>Twitter</td>
                     <td>(415) 555-0125</td>
                     <td>amelia@twitter.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--34-->
                  <tr>
                     <td>Logan Garcia</td>
                     <td>Amazon</td>
                     <td>(206) 555-0181</td>
                     <td>logan@amazon.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--35-->
                  <tr>
                     <td>Harper White</td>
                     <td>Netflix</td>
                     <td>(310) 555-0158</td>
                     <td>harper@netflix.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--36-->
                  <tr>
                     <td>Lucas Hall</td>
                     <td>Apple</td>
                     <td>(408) 555-0192</td>
                     <td>lucas@apple.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--37-->
                  <tr>
                     <td>Abigail Green</td>
                     <td>Google</td>
                     <td>(650) 555-0170</td>
                     <td>abigail@google.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--38-->
                  <tr>
                     <td>Dylan Scott</td>
                     <td>Facebook</td>
                     <td>(301) 555-0183</td>
                     <td>dylan@facebook.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--39-->
                  <tr>
                     <td>Madison King</td>
                     <td>Twitter</td>
                     <td>(415) 555-0126</td>
                     <td>madison@twitter.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--40-->
                  <tr>
                     <td>Nathan Martinez</td>
                     <td>Amazon</td>
                     <td>(206) 555-0185</td>
                     <td>nathan@amazon.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--41-->
                  <tr>
                     <td>Grace Hernandez</td>
                     <td>Netflix</td>
                     <td>(310) 555-0159</td>
                     <td>grace@netflix.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--42-->
                  <tr>
                     <td>Elijah Lopez</td>
                     <td>Apple</td>
                     <td>(408) 555-0193</td>
                     <td>elijah@apple.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--43-->
                  <tr>
                     <td>Chloe Young</td>
                     <td>Google</td>
                     <td>(650) 555-0171</td>
                     <td>chloe@google.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--44-->
                  <tr>
                     <td>Liam Brown</td>
                     <td>Facebook</td>
                     <td>(301) 555-0184</td>
                     <td>liam@facebook.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--45-->
                  <tr>
                     <td>Zoe Hill</td>
                     <td>Twitter</td>
                     <td>(415) 555-0127</td>
                     <td>zoe@twitter.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--46-->
                  <tr>
                     <td>Logan Flores</td>
                     <td>Amazon</td>
                     <td>(206) 555-0187</td>
                     <td>logan@amazon.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--47-->
                  <tr>
                     <td>Emma Richardson</td>
                     <td>Netflix</td>
                     <td>(310) 555-0161</td>
                     <td>emma@netflix.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--48-->
                  <tr>
                     <td>Noah Brooks</td>
                     <td>Apple</td>
                     <td>(408) 555-0194</td>
                     <td>noah@apple.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--49-->
                  <tr>
                     <td>Grace White</td>
                     <td>Google</td>
                     <td>(650) 555-0172</td>
                     <td>grace@google.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--50-->
                  <tr>
                     <td>Benjamin Green</td>
                     <td>Facebook</td>
                     <td>(301) 555-0185</td>
                     <td>benjamin@facebook.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--51-->
                  <tr>
                     <td>Sophia Taylor</td>
                     <td>Twitter</td>
                     <td>(415) 555-0128</td>
                     <td>sophia@twitter.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--52-->
                  <tr>
                     <td>James Hill</td>
                     <td>Amazon</td>
                     <td>(206) 555-0188</td>
                     <td>james@amazon.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--53-->
                  <tr>
                     <td>Charlotte Richardson</td>
                     <td>Netflix</td>
                     <td>(310) 555-0162</td>
                     <td>charlotte@netflix.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>

                  <!--54-->
                  <tr>
                     <td>Mason Brooks</td>
                     <td>Apple</td>
                     <td>(408) 555-0196</td>
                     <td>mason@apple.com</td>
                     <td>United States</td>
                     <td class="status-inactive"><span>Inactive</span></td>
                  </tr>

                  <!--55-->
                  <tr>
                     <td>Luna Young</td>
                     <td>Google</td>
                     <td>(650) 555-0173</td>
                     <td>luna@google.com</td>
                     <td>United States</td>
                     <td class="status-active"><span>Active</span></td>
                  </tr>
               </table>

               <!--Pagination-->
               <div class="pagination-data">
                  <div class="show-data">
                     <p>Showing data 1 to 8 of 256K entries</p>
                  </div>
                  <div class="pagination" id="pagination"></div>
               </div>

            </div>

         </div>

      </div>

   </div>

</section>