<header class="header">

   <div class="header__container">
      <div class="header__container_logo">
         <a href="/">
            <img class="header__logo" src="./img/logo.svg" alt="logo">
         </a>
         <button id="burgerMenu" type="button" class="burger-menu">
            <span>
               <i></i>
            </span>
            <em class="burgerTextOpen" id="burgerTextOpen">меню</em>
            <em class="burgerTextClose" id="burgerTextClose">закрити</em>
         </button>
         <div id="mainMenu" class="menu-container">

            <div class="menu-items">
               <div class="container">
                  <div class="top-menu">
                     <div class="top-menu__logo-wrapper">
                        <a class="top-menu__logo" href="/">
                           <img class="top-menu__logo-img" src="./img/logo_white.svg" alt="logo">
                        </a>
                     </div>
                     <div class="top-menu__close">
                        <i class="fa-solid fa-xmark"></i>
                        <span>Закрити</span>
                     </div>
                  </div>
                  <div class="left-menu">
                     <div class="left-menu__top">
                        <div class="left-menu__top-langs">
                           <a class="_active-color" href="#">УКР</a>
                           <a href="#">ENG</a>
                           <a href="#">РУС</a>
                        </div>
                     </div>
                     <div class="left-menu__button">
                        <button id="questBtn" type="button" class="btn open-modal">задати запитання</button>
                     </div>

                     <!-- mobile accordions -->
                     <ul class="left-menu__spollers">
                        <li id="spoller1" class="left-menu__spoller">
                           <div id="spoller1Title" class="left-menu__spoller-title">
                              Портфоліо
                           </div>
                           <div id="spoller1Body" class="left-menu__spoller-content accordion-content">
                              <ul class="left-menu__spoller-sublist">
                                 <li class="left-menu__spoller-sublist-item">
                                    <a class="left-menu__spoller-sublist-link" href="#">
                                       Доставка їжі
                                    </a>
                                 </li>
                                 <li class="left-menu__spoller-sublist-item">
                                    <a class="left-menu__spoller-sublist-link" href="#">
                                       Будівництво
                                    </a>
                                 </li>
                                 <li class="left-menu__spoller-sublist-item">
                                    <a class="left-menu__spoller-sublist-link" href="#">
                                       APP
                                    </a>
                                 </li>
                                 <li class="left-menu__spoller-sublist-item">
                                    <a class="left-menu__spoller-sublist-link" href="#">
                                       Фінанси
                                    </a>
                                 </li>
                                 <li class="left-menu__spoller-sublist-item">
                                    <a class="left-menu__spoller-sublist-link" href="#">
                                       Маркетинг
                                    </a>
                                 </li>
                              </ul>
                           </div>
                        </li>
                        <li id="spoller2" class="left-menu__spoller">
                           <div id="spoller2Title" class="left-menu__spoller-title">
                              Послуги
                           </div>
                           <div id="spoller2Body" class="left-menu__spoller-content accordion-content">
                              <ul class="left-menu__spoller-sublist">
                                 <li class="left-menu__spoller-sublist-item">
                                    <a class="left-menu__spoller-sublist-link" href="#">
                                       Створення сайтів
                                    </a>
                                 </li>
                                 <li class="left-menu__spoller-sublist-item">
                                    <a class="left-menu__spoller-sublist-link" href="#">
                                       Брендинг та дизайн
                                    </a>
                                 </li>
                                 <li class="left-menu__spoller-sublist-item">
                                    <a class="left-menu__spoller-sublist-link" href="#">
                                       CRM системи
                                    </a>
                                 </li>
                                 <li class="left-menu__spoller-sublist-item">
                                    <a class="left-menu__spoller-sublist-link" href="#">
                                       Інтернет магазин
                                    </a>
                                 </li>
                                 <li class="left-menu__spoller-sublist-item">
                                    <a class="left-menu__spoller-sublist-link" href="#">
                                       Лендінг
                                    </a>
                                 </li>
                                 <li class="left-menu__spoller-sublist-item">
                                    <a class="left-menu__spoller-sublist-link" href="#">
                                       Підтримка сайту
                                    </a>
                                 </li>
                                 <li class="left-menu__spoller-sublist-item">
                                    <a class="left-menu__spoller-sublist-link" href="#">
                                       Редизайн
                                    </a>
                                 </li>
                                 <li class="left-menu__spoller-sublist-item">
                                    <a class="left-menu__spoller-sublist-link" href="#">
                                       Розробка додатків
                                    </a>
                                 </li>
                                 <li class="left-menu__spoller-sublist-item">
                                    <a class="left-menu__spoller-sublist-link" href="#">
                                       Пошукова оптимізація
                                    </a>
                                 </li>
                              </ul>
                           </div>
                        </li>
                        <li class="left-menu__spoller">
                           <a href="#" class="left-menu__spoller-link">
                              Нагороди
                           </a>
                        </li>
                        <li class="left-menu__spoller">
                           <a href="#" class="left-menu__spoller-link">
                              Блог
                           </a>
                        </li>

                        <li class="left-menu__spoller">
                           <a href="#" class="left-menu__spoller-link">
                              Відгуки
                           </a>
                        </li>
                        <li class="left-menu__spoller">
                           <a href="#" class="left-menu__spoller-link">
                              Контакти
                           </a>
                        </li>


                     </ul>

                     <!-- mobile accirdions end  -->

                     <div class="left-menu__middle">
                        <ul id="menu-sublist-portfolio" class="first-block__menu-sublist">
                           <li id="sublist-arrow-close" class="first-block__menu-sublist-arrow-wrapper">
                              <svg class="first-block__menu-sublist-arrow" width="24" height="17" fill="white"
                                 xmlns="http://www.w3.org/2000/svg">
                                 <path
                                    d="M15.568 0L24 8.5 15.568 17l-1.73-1.744 5.405-5.448H0V7.192h19.243l-5.405-5.448L15.568 0z">
                                 </path>
                              </svg>
                           </li>
                           <li class="first-block__menu-sublist-left-wrapper">
                              <ul class="first-block__menu-sublist-left">
                                 <li class="first-block__menu-sublist__item">
                                    <a href="#">
                                       Доставка їжі
                                    </a>
                                 </li>
                                 <li class="first-block__menu-sublist__item">
                                    <a href="#">
                                       Будівництво
                                    </a>
                                 </li>
                                 <li class="first-block__menu-sublist__item">
                                    <a href="#">
                                       APP
                                    </a>
                                 </li>
                              </ul>
                           </li>
                           <li class="first-block__menu-sublist-right-wrapper">
                              <ul class="first-block__menu-sublist-right">
                                 <li class="first-block__menu-sublist__item">
                                    <a href="#">
                                       Фінанси
                                    </a>
                                 </li>
                                 <li class="first-block__menu-sublist__item">
                                    <a href="#">
                                       Маркетинг
                                    </a>
                                 </li>

                              </ul>
                           </li>
                        </ul>
                        <ul id="menu-sublist-services" class="first-block__menu-sublist">
                           <li id="sublist-arrow-close" class="first-block__menu-sublist-arrow-wrapper">
                              <svg class="first-block__menu-sublist-arrow" width="24" height="17" fill="white"
                                 xmlns="http://www.w3.org/2000/svg">
                                 <path
                                    d="M15.568 0L24 8.5 15.568 17l-1.73-1.744 5.405-5.448H0V7.192h19.243l-5.405-5.448L15.568 0z">
                                 </path>
                              </svg>
                           </li>
                           <li class="first-block__menu-sublist-left-wrapper">
                              <ul class="first-block__menu-sublist-left">
                                 <li class="first-block__menu-sublist__item">
                                    <a href="#">
                                       Створення сайтів
                                    </a>
                                 </li>
                                 <li class="first-block__menu-sublist__item">
                                    <a href="#">
                                       Брендинг та дизайн
                                    </a>
                                 </li>
                                 <li class="first-block__menu-sublist__item">
                                    <a href="#">
                                       CRM системи
                                    </a>
                                 </li>
                                 <li class="first-block__menu-sublist__item">
                                    <a href="#">
                                       Інтернет магазин
                                    </a>
                                 </li>
                                 <li class="first-block__menu-sublist__item">
                                    <a href="#">
                                       Лендінг
                                    </a>
                                 </li>
                              </ul>
                           </li>
                           <li class="first-block__menu-sublist-right-wrapper">
                              <ul class="first-block__menu-sublist-right">
                                 <li class="first-block__menu-sublist__item">
                                    <a href="#">
                                       Підтримка сайту
                                    </a>
                                 </li>
                                 <li class="first-block__menu-sublist__item">
                                    <a href="#">
                                       Редизайн
                                    </a>
                                 </li>
                                 <li class="first-block__menu-sublist__item">
                                    <a href="#">
                                       Розробка додатків
                                    </a>
                                 </li>
                                 <li class="first-block__menu-sublist__item">
                                    <a href="#">
                                       Пошукова оптимізація
                                    </a>
                                 </li>
                              </ul>
                           </li>
                        </ul>
                        <div class="first-block">
                           <nav class="first-block__menu">
                              <ul class="first-block__menu-list">
                                 <li id="menu-sublist-portfolio-btn" class="first-block__menu-list__item ">
                                    <span>
                                       Портфоліо
                                    </span>
                                 </li>
                                 <li id="menu-sublist-services-btn" class="first-block__menu-list__item ">
                                    <span>
                                       Послуги
                                    </span>
                                 </li>
                                 <li>
                                    <a href="#">
                                       Нагороди
                                    </a>
                                 </li>
                              </ul>
                           </nav>
                        </div>

                        <div class="second-block">
                           <nav>
                              <ul>
                                 <li><a href="#">Блог</a></li>
                                 <li><a href="#">Відгуки</a></li>
                                 <li><a href="#">Контакти</a></li>
                              </ul>
                           </nav>
                        </div>
                     </div>

                     <div class="left-menu__socials">
                        <ul>
                           <li><a href="#" target="_blank" class="left-menu__social-link">
                                 <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path
                                       d="M175.872 197.8c24.598-4.801 48.6-11.4 71.398-18.6-30.298-55.501-67.798-105.601-111.899-147.9-64.799 34.799-114.101 96.9-130 170.999 47.701 9.6 106.601 8.401 170.501-4.499zM418.571 60.099l-4.2 16.5c-6.599 26.4-62.399 64.2-135.599 91.501l-3.301 1.199c-29.7-56.1-67.2-107.1-110.999-151.199C192.672 7 223.571 0 255.671 0c57.299 0 110.7 20.2 153.3 52.299 3.299 2.4 6.601 4.801 9.6 7.8zM287.171 268.299c-7.8-21.299-16.5-41.999-26.1-62.1-25.199 8.401-51.899 15.601-79.2 21-29.7 6-68.399 11.4-109.199 11.4-23.401 0-48.401-1.8-72.1-6.301-.601 7.8.099 15.601.099 23.701 0 78.9 36 149.399 92.1 196.199.3-1.8.601-3.6.899-5.4C105.071 377.8 184.872 304.9 287.171 268.299z">
                                    </path>
                                    <path
                                       d="M297.071 296.499c20.4 64.2 31.8 133.9 32.999 204.401-23.399 7.2-48.6 11.1-74.399 11.1-48.3 0-93.6-14.5-132.001-37.901-1.5-7.2-1.5-14.7-.298-22.5 9.3-56.699 83.699-122.399 173.699-155.1zM508.97 292.299c-12.599 87.902-70.899 161.4-149.499 196.501-2.1-69.6-14.101-137.401-34.2-201.301 67.2-18.599 130.901-16.499 183.699 4.8zM511.671 256v5.4c-57.299-21.301-125.2-22.2-196-2.1-7.8-21.599-16.8-42.599-26.4-62.999 49.311-18.515 141.337-61.127 154.2-112.5 41.701 45.298 68.2 105.898 68.2 172.199z">
                                    </path>
                                 </svg>
                                 <span>Dribbble</span>
                              </a></li>
                           <li><a href="#" target="_blank" class="left-menu__social-link">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="16.75" height="16.75"
                                    viewBox="0 0 97.75 97.75">
                                    <path
                                       d="M39.337 38.729c0-4.611-3.137-4.611-3.137-4.611H23.294v9.894H35.4c2.092-.001 3.937-.67 3.937-5.283zM36.201 50.846H23.294v11.85h12.311c1.852-.053 5.27-.633 5.27-5.76 0-6.152-4.674-6.09-4.674-6.09zM69.243 44.011c-6.849 0-7.804 6.835-7.804 6.835h14.565c.001 0 .088-6.835-6.761-6.835z">
                                    </path>
                                    <path
                                       d="M48.875 0C21.882 0 0 21.883 0 48.875S21.882 97.75 48.875 97.75 97.75 75.867 97.75 48.875 75.868 0 48.875 0zm10.656 28.848h18.294v5.46H59.531v-5.46zm-9.246 28.638c0 13.533-14.084 13.088-14.084 13.088H13.128V26.236H36.2c7.012 0 12.547 3.871 12.547 11.805 0 7.935-6.766 8.438-6.766 8.438 8.919 0 8.304 11.007 8.304 11.007zm19.045 6.993c7.37 0 7.109-4.77 7.109-4.77h7.803c0 12.659-15.172 11.792-15.172 11.792-18.207 0-17.036-16.95-17.036-16.95s-.014-17.034 17.034-17.034c17.947 0 15.434 19.245 15.434 19.245H61.527c0 8.239 7.803 7.717 7.803 7.717z">
                                    </path>
                                 </svg>
                                 <span>Behance</span>
                              </a></li>
                           <li><a href="#" target="_blank" class="left-menu__social-link">
                                 <svg width="8" height="16" viewBox="0 0 8 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                       d="M6.53945 2.65667H8V0.112667C7.74802 0.078 6.88143 0 5.87218 0C3.76635 0 2.32381 1.32467 2.32381 3.75933V6H0V8.844H2.32381V16H5.1729V8.84467H7.40272L7.75669 6.00067H5.17224V4.04133C5.1729 3.21933 5.39422 2.65667 6.53945 2.65667Z">
                                    </path>
                                 </svg>
                                 <span>Fecebook</span>
                              </a></li>
                           <li><a href="#" target="_blank" class="left-menu__social-link">
                                 <svg enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path
                                       d="m1.5 1.633c-1.886 1.959-1.5 4.04-1.5 10.362 0 5.25-.916 10.513 3.878 11.752 1.497.385 14.761.385 16.256-.002 1.996-.515 3.62-2.134 3.842-4.957.031-.394.031-13.185-.001-13.587-.236-3.007-2.087-4.74-4.526-5.091-.559-.081-.671-.105-3.539-.11-10.173.005-12.403-.448-14.41 1.633z">
                                    </path>
                                    <path
                                       d="m11.998 3.139c-3.631 0-7.079-.323-8.396 3.057-.544 1.396-.465 3.209-.465 5.805 0 2.278-.073 4.419.465 5.804 1.314 3.382 4.79 3.058 8.394 3.058 3.477 0 7.062.362 8.395-3.058.545-1.41.465-3.196.465-5.804 0-3.462.191-5.697-1.488-7.375-1.7-1.7-3.999-1.487-7.374-1.487zm-.794 1.597c7.574-.012 8.538-.854 8.006 10.843-.189 4.137-3.339 3.683-7.211 3.683-7.06 0-7.263-.202-7.263-7.265 0-7.145.56-7.257 6.468-7.263zm5.524 1.471c-.587 0-1.063.476-1.063 1.063s.476 1.063 1.063 1.063 1.063-.476 1.063-1.063-.476-1.063-1.063-1.063zm-4.73 1.243c-2.513 0-4.55 2.038-4.55 4.551s2.037 4.55 4.55 4.55 4.549-2.037 4.549-4.55-2.036-4.551-4.549-4.551zm0 1.597c3.905 0 3.91 5.908 0 5.908-3.904 0-3.91-5.908 0-5.908z"
                                       fill="#232323"></path>
                                 </svg>
                                 <span>Instagram</span>
                              </a></li>
                        </ul>
                     </div>
                  </div>

               </div>
               <div class="right-menu">
                  <div class="email-menu">
                     <p>email:</p>
                     <a href="#">office@redstone.media</a>
                     <p>email:</p>
                     <a href="#">support@redstone.media</a>
                  </div>

                  <div class="brief-menu">
                     <p>У Вас є цікавий проект, давай втілимо його в реальність</p>
                     <button type="button" class="btn">заповнити бриф</button>
                  </div>
               </div>
            </div>

         </div>
      </div>

      <div class="header__container_menu">
         <nav>
            <ul>
               <li><a href="#">портфоліо</a></li>
               <li class="sub-menu">
                  послуги
                  <ul>
                     <li><a href="#">створення сайтів</a></li>
                     <li><a href="#">брендинг та дизайн</a></li>
                     <li><a href="#">crm системи</a></li>
                     <li><a href="#">інтернет магазин</a></li>
                     <li><a href="#">лендінг</a></li>
                     <li><a href="#">підтримка сайту</a></li>
                     <li><a href="#">редизайн</a></li>
                     <li><a href="#">розробка додатків</a></li>
                     <li><a href="#">пошукова оптимізація</a></li>
                  </ul>
               </li>
               <li><a href="#">брендинг</a></li>
               <li><a href="#">контакти</a></li>
            </ul>
         </nav>
      </div>

      <div class="header__container_contacts">
         <a href="tel:+380676075784">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
               <path
                  d="M16.5453 0V-0.1H16.4453H3.55469H3.45469V0V20V20.1H3.55469H16.4453H16.5453V20V0ZM15.1734 18.7281H4.82656V1.27188H15.1734V18.7281Z"
                  stroke-width="0.2"></path>
               <path d="M8 15H12V17H8V15Z"></path>
            </svg>
            <span>+38 067 607 57 84</span>
         </a>
         <button id="questBtn" type="button" class="btn open-modal">задати запитання</button>
      </div>

   </div>

</header>