<main class="main">
   <section class="hero">
      <div class="hero__wrapper">
         <div class="hero__container container">
            <div class="hero__left fedeInUp20px">
               <h1 class="hero__title  ">
                  Сайти
                  <b>.</b>
                  App
                  <b>.</b>
                  Брендинг - <br /> Робимо складне простим
               </h1>
               <div class="hero__btn-wrapper">
                  <a href="#" class="button__white hero__btn">
                     НАШІ РОБОТИ
                  </a>
               </div>
               <div class="hero__partners">
                  <div class="hero__partners-logo">
                     <a href="#" class="hero__partners-link">
                        <img src="./img/heroPartners/logo-01.svg" alt="logo" class="hero__partners-img">
                     </a>
                  </div>
                  <div class="hero__partners-logo">
                     <a href="#" class="hero__partners-link">
                        <img src="./img/heroPartners/logo-02.svg" alt="logo" class="hero__partners-img">
                     </a>
                  </div>
                  <div class="hero__partners-logo">
                     <a href="#" class="hero__partners-link">
                        <img src="./img/heroPartners/logo-03.svg" alt="logo" class="hero__partners-img">
                     </a>
                  </div>
                  <div class="hero__partners-logo">
                     <a href="#" class="hero__partners-link">
                        <img src="./img/heroPartners/logo-04.svg" alt="logo" class="hero__partners-img">
                     </a>
                  </div>
               </div>
            </div>
            <div class="hero__right">
               <div class="hero__number">
                  <!-- <svg class="hero__number-img" version="1.1" viewBox="0 0 100 100" width="100%" height="100%"
							preserveAspectRatio="xMidYMid meet"><text x="50%" y="97%" stroke-width="1" text-anchor="middle">
								<tspan>18</tspan>
							</text></svg> -->
                  <div id="heroNumber" class="hero__number-count">
                     18
                  </div>
               </div>
               <p id="heroSupnumber" class="hero__supNumber">Років переносимо ваш бізнес online</p>
            </div>
         </div>
      </div>
      <a href="#sectionProjects" class="hero__scroll">
         <svg class="hero__scroll-img" width="63" height="14" viewBox="0 0 63 14" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M0 7H55.902" stroke="#989898" stroke-dasharray="5.49 8.78"></path>
            <path d="M54.9297 1L61.7405 7.16216L54.9297 13" stroke="#989898" stroke-linecap="round"
               stroke-linejoin="round">
            </path>
         </svg>
      </a>
   </section>
</main>