<!-- My popup -->

<div id="question-popup" class="popup-form">

   <div class="popup-container">
      <div class="popup-close">
         <span class="close">
            <svg class="close__icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
               xmlns="http://www.w3.org/2000/svg">
               <path d="M18 6L6 18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
               </path>
               <path d="M6 6L18 18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
               </path>
            </svg>

         </span>
      </div>
      <div class="popup-content">
         <div class="popup-title">
            <h2>
               Розкажіть нам про свій проект, подумаємо над ним разом. Почніть з простого - просто напишіть
               нам
            </h2>
         </div>
         <form method="post" class="contact-us">
            <div class="contact-name">
               <input type="text" name="name" placeholder="Ваше ім’я" class="input">
               <input type="tel" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                  name="phone" placeholder="Ваш телефон" class="input">
            </div>
            <div class="contact-mail">
               <input type="email" name="email" placeholder="*Ваш email" class="input">
            </div>
            <div class="contact-text">
               <textarea name="mess" placeholder="Коротко опишіть свій проект" class="input"></textarea>
            </div>
            <button type="submit" class="btn send-form">надіслати</button>
         </form>
      </div>
   </div>

</div>