<section id="sectionProjects" class="projects">
   <div class="container">
      <div class="projects__wrapper">
         <div class="projects__descr ">
            <h2 class="projects__title title__40 fadeInUp">Ефектні та ефективні веб і мобайл рішення із зануренням у ваш
               бізнес</h2>
            <p class="projects__text text fadeInUp delay-1">Ми знаємо болі у Вашій ніші! У нашому арсеналі є всі
               інструменти для їх
               вирішення:аналіз, брендинг, розробка сайту, створення app і технічна підтримка</p>
         </div>
         <div class="projects__cards fadeInUp">
            <div class="projects__card">
               <a href="#" class="projects__card-inner">
                  <h3 class="projects__card-title">Доставка їжі</h3>
                  <div class="projects__card-image">
                     <img class="projects__card-img" src="./img/projects/projects-01.png" alt="image">
                  </div>
                  <i class="fa-solid fa-plus projects__circle-icon"></i>
               </a>
            </div>
            <div class="projects__card">
               <a href="#" class="projects__card-inner">
                  <h3 class="projects__card-title">Будівництво</h3>
                  <div class="projects__card-image">
                     <img class="projects__card-img" src="./img/projects/projects-02.png" alt="image">
                  </div>
                  <i class="fa-solid fa-plus projects__circle-icon"></i>
               </a>
            </div>
            <div class="projects__card">
               <a href="#" class="projects__card-inner">
                  <h3 class="projects__card-title">App</h3>
                  <div class="projects__card-image">
                     <img class="projects__card-img" src="./img/projects/projects-03.png" alt="image">
                  </div>
                  <i class="fa-solid fa-plus projects__circle-icon"></i>
               </a>
            </div>
            <div class="projects__card">
               <a href="#" class="projects__card-inner">
                  <h3 class="projects__card-title"> Web Solution</h3>
                  <div class="projects__card-image">
                     <img class="projects__card-img" src="./img/projects/projects-04.webp" alt="image">
                  </div>
                  <i class="fa-solid fa-plus projects__circle-icon"></i>
               </a>
            </div>
            <div class="projects__card">
               <a href="#" class="projects__card-inner">
                  <h3 class="projects__card-title">Авто</h3>
                  <div class="projects__card-image">
                     <img class="projects__card-img" src="./img/projects/projects-05.png" alt="image">
                  </div>
                  <i class="fa-solid fa-plus projects__circle-icon"></i>
               </a>
            </div>
            <div class="projects__card">
               <a href="#" class="projects__card-inner">
                  <h3 class="projects__card-title">Брендування</h3>
                  <div class="projects__card-image">
                     <img class="projects__card-img" src="./img/projects/projects-06.webp" alt="image">
                  </div>
                  <i class="fa-solid fa-plus projects__circle-icon"></i>
               </a>
            </div>
         </div>
         <div class="projects__button">
            <a href="#" class="projects__btn button__white">Переглянути всі роботи</a>
         </div>
      </div>
   </div>
</section>