.customers {
   animation: fadeInDown 1.5s;
   &__container {
      padding: 45px 50px;
      @media screen and (max-width: 1260px) {
         padding: 45px 10px;
      }

      &-title {
         position: relative;
         display: flex;

         .burger-menu {
            display: none;
            margin-right: 20px;
            width: 40px;
            height: 40px;
            cursor: pointer;

            @media screen and (max-width: 992px) {
               display: block;
            }

            @media screen and (max-width: 576px) {
               margin-right: 10px;
            }

            img {
               width: 100%;
               height: 100%;
            }
         }

         h1 {
            color: $main-color;
            font-family: $main-font-family;
            font-size: 24px;
            font-weight: 500;
            padding-bottom: 60px;

            @media screen and (max-width: 576px) {
               font-size: 20px;
            }
         }
      }

      // dark theme
      #dark-theme {
         position: absolute;
         top: 0;
         right: 0;
         cursor: pointer;
         background-image: url("../img/sun-sky.png");
         background-position: 100%;
         background-repeat: no-repeat;
         background-size: cover;
         width: 55px;
         border: 2px solid #a2a2a2;
         border-radius: 15px;
         padding: 4px;
         display: flex;
         transition:
            padding-left 0.3s,
            background 0.3s;

         #sun-moon {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: inline-block;
            transition: 0.3s;
            background-image: url("../img/sun.png");
            background-position: 100%;
            background-repeat: no-repeat;
            background-size: cover;
         }

         .sun-moon {
            background-image: url("../img/full-moon.png") !important;
            background-position: 100%;
            background-repeat: no-repeat;
            background-size: cover;
         }
      }

      #dark-theme.dark-btn {
         padding-left: 29px;
         background-image: url("../img/night-sky.png") !important;
         background-position: 100%;
         background-repeat: no-repeat;
         background-size: cover;
      }

      &-table {
         width: 100%;
         background-color: var(--table-color);
         border-radius: 30px;
         padding: 40px;

         @media screen and (max-width: 1120px) {
            padding: 35px 25px;
         }

         @media screen and (max-width: 768px) {
            padding: 35px 15px;
         }

         .table {
            &__container {
               display: flex;
               align-items: center;
               justify-content: space-between;
               margin-bottom: 50px;

               &-title {
                  h2 {
                     font-size: 22px;
                     font-weight: 600;
                     font-family: $main-font-family;
                     color: var(--table-title);
                     padding: 0px;
                     margin-bottom: 20px;

                     @media screen and (max-width: 576px) {
                        font-size: 16px;
                        margin-bottom: 10px;
                     }
                  }

                  p {
                     font-family: $main-font-family;
                     font-size: 14px;
                     color: #16c098;
                     padding: 0px;

                     @media screen and (max-width: 576px) {
                        font-size: 10px;
                     }
                  }
               }

               &-form {
                  form {
                     width: 216px;
                     height: 38px;
                     background-color: #f9fbff;
                     border-radius: 30px;

                     @media screen and (max-width: 576px) {
                        width: 140px;
                        height: 30px;
                     }

                     display: flex;
                     align-items: center;

                     img {
                        margin-right: 10px;
                     }

                     input {
                        background-color: transparent;
                        width: 100%;
                        border: none;
                     }
                  }
               }
            }

            // table data

            &__data {
               width: 100%;
               overflow-x: auto;
               white-space: nowrap;
               &::-webkit-scrollbar {
                  height: 3px;
               }

               &::-webkit-scrollbar-thumb {
                  background-color: #5932ea; /* Set your desired color */
                  border-radius: 5px;
               }

               table {
                  width: 100%;

                  .table-top {
                     .th {
                        text-align: left;
                        font-size: 14px;
                        font-weight: 500;
                        color: #b5b7c0;
                        padding-bottom: 20px;
                        border-bottom: 1px solid #eeeeee;

                        @media screen and (max-width: 1260px) {
                           font-size: 12px;
                        }

                        @media screen and (max-width: 992px) {
                           font-size: 10px;
                        }

                        @media screen and (max-width: 576px) {
                           padding-right: 25px;
                        }
                     }
                  }

                  tr {
                     //td
                     td {
                        padding: 24px 0;
                        border-bottom: 1px solid #eeeeee;
                        font-size: 14px;
                        font-weight: 500;
                        color: var(--table-data-text);

                        @media screen and (max-width: 1260px) {
                           font-size: 12px;
                        }

                        @media screen and (max-width: 992px) {
                           padding: 18px 0;
                           font-size: 10px;
                        }

                        @media screen and (max-width: 768px) {
                           padding: 18px 18px 18px 0;
                        }
                     }

                     .status-active {
                        color: #008767 !important;
                        width: 10%;
                        span {
                           border: 2px solid #008767;
                           background-color: #a6e7d8;
                           border-radius: 8px;
                           display: block;
                           width: 80px;
                           padding: 6px 0;
                           text-align: center;
                           @media screen and (max-width: 768px) {
                              width: 60px;
                           }

                           @media screen and (max-width: 576px) {
                              width: 50px;
                           }
                        }
                     }

                     .status-inactive {
                        color: #df0404 !important;
                        width: 10%;
                        span {
                           border: 2px solid #df0404;
                           background-color: #ffc5c5;
                           border-radius: 8px;
                           display: block;
                           width: 80px;
                           padding: 6px 0;
                           text-align: center;
                           @media screen and (max-width: 768px) {
                              width: 60px;
                           }

                           @media screen and (max-width: 576px) {
                              width: 50px;
                           }
                        }
                     }
                  }
               }
            }

            //pagination
            .pagination-data {
               display: flex;
               justify-content: space-between;
               align-items: center;
               margin-top: 32px;

               @media screen and (max-width: 768px) {
                  flex-direction: column-reverse;
               }

               .show-data {
                  p {
                     font-size: 14px;
                     font-weight: 500;
                     font-family: $main-font-family;
                     color: #b5b7c0;
                     padding-bottom: 0px;
                  }
               }

               .pagination {
                  display: inline-block;
                  @media screen and (max-width: 768px) {
                     margin-bottom: 20px;
                  }

                  span {
                     @media screen and (max-width: 576px) {
                        padding: 3px;
                     }
                  }
               }

               .pagination button {
                  color: $main-color;
                  padding: 8px 12px;
                  margin: 0 6px;
                  background-color: #f5f5f5;
                  text-decoration: none;
                  border: 2px solid #eeeeee;
                  border-radius: 8px;
                  transition: background-color 0.3s;

                  @media screen and (max-width: 768px) {
                     padding: 6px 10px;
                  }

                  @media screen and (max-width: 576px) {
                     font-size: 12px;
                     padding: 4px 8px;
                     margin: 0px 4px;
                  }

                  @media screen and (max-width: 340px) {
                     font-size: 10px;
                     padding: 4px 6px;
                     margin: 0px 4px;
                  }
               }

               .pagination button.active {
                  background-color: #5932ea;
                  color: white;
               }
            }
         }
      }
   }
}
