.customers {
   animation: fadeInDown 1.5s;
   &__container {
      padding: 45px 50px;
      &-title {
         h1 {
            color: $main-color;
            font-family: $main-font-family;
            font-size: 24px;
            font-weight: 500;
            padding-bottom: 60px;
         }
      }

      &-table {
         width: 100%;
         background-color: #fff;
         border-radius: 30px;
         padding: 40px;

         .table {
            &__container {
               display: flex;
               align-items: center;
               justify-content: space-between;
               margin-bottom: 50px;

               &-title {
                  h2 {
                     font-size: 22px;
                     font-weight: 600;
                     font-family: $main-font-family;
                     color: $main-color;
                     padding: 0px;
                     margin-bottom: 20px;
                  }

                  p {
                     font-family: $main-font-family;
                     font-size: 14px;
                     color: #16c098;
                     padding: 0px;
                  }
               }

               &-form {
                  form {
                     width: 216px;
                     height: 38px;
                     background-color: #f9fbff;
                     border-radius: 30px;

                     display: flex;
                     align-items: center;

                     img {
                        margin-right: 10px;
                     }

                     input {
                        background-color: transparent;

                        border: none;
                     }
                  }
               }
            }

            // table data

            &__data {
               width: 100%;
               table {
                  width: 100%;

                  .table-top {
                     th {
                        width: 15%;
                        text-align: left;
                        font-size: 14px;
                        font-weight: 500;
                        color: #b5b7c0;
                        padding-bottom: 20px;
                        border-bottom: 1px solid #eeeeee;
                     }
                  }

                  tr {
                     //td
                     td {
                        padding: 24px 0;
                        border-bottom: 1px solid #eeeeee;
                        font-size: 14px;
                        font-weight: 500;
                        color: #292d32;
                     }

                     .status-active {
                        color: #008767 !important;
                        width: 10%;
                        span {
                           border: 2px solid #008767;
                           background-color: #a6e7d8;
                           border-radius: 8px;
                           display: block;
                           width: 80px;
                           padding: 6px 0;
                           text-align: center;
                        }
                     }

                     .status-inactive {
                        color: #df0404 !important;
                        width: 10%;
                        span {
                           border: 2px solid #df0404;
                           background-color: #ffc5c5;
                           border-radius: 8px;
                           display: block;
                           width: 80px;
                           padding: 6px 0;
                           text-align: center;
                        }
                     }
                  }
               }

               //pagination
               .pagination-data {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  margin-top: 32px;

                  .show-data {
                     p {
                        font-size: 14px;
                        font-weight: 500;
                        font-family: $main-font-family;
                        color: #b5b7c0;
                     }
                  }

                  .pagination {
                     display: inline-block;
                  }

                  .pagination button {
                     color: $main-color;
                     padding: 8px 12px;
                     margin: 0 6px;
                     background-color: #f5f5f5;
                     text-decoration: none;
                     border: 2px solid #eeeeee;
                     border-radius: 8px;
                     transition: background-color 0.3s;
                  }

                  .pagination button.active {
                     background-color: #5932ea;
                     color: white;
                  }
               }
            }
         }
      }
   }
}
