.header {
   position: fixed;
   right: 0;
   left: 0;
   top: 0;
   background-color: #fff;
   z-index: 99;

   &__container {
      height: 130px;
      max-width: 1790px;
      padding: 0 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;

      &_logo {
         display: flex;
         align-items: center;
         img {
            max-width: 140px;
            margin-right: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
         }
      }

      .burger-menu {
         cursor: pointer;
         border: none;
         background-color: unset;
         display: flex;
         padding: 0;
         position: relative;
         z-index: 2;
         transition: all 0.6s ease 0s;

         &._active {
            span {
               i {
                  opacity: 0;
               }
               &::before {
                  transform: rotate(-45deg);
                  top: calc(50% - 1px);
                  background-color: white;
                  width: 100%;
               }
               &::after {
                  transform: rotate(45deg);
                  bottom: calc(51% - 1px);
                  background-color: white;
                  width: 100%;
               }
            }
            em {
               color: white;
            }
         }
         .burgerTextClose {
            position: absolute;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transform: translateY(-100%);
            transition:
               0.6s ease 0s,
               color 0.3s ease 0s;
            &._active {
               opacity: 1;
               visibility: visible;
               transform: translateY(0%);
               pointer-events: all;
            }
         }
         .burgerTextOpen {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
            transform: translateY(0%);
            transition:
               all 0.6s ease 0s,
               color 0.3s ease 0s;

            &._active {
               opacity: 0;
               visibility: hidden;
               pointer-events: none;
               transform: translateY(100%);
            }
         }

         @media (any-hover: hover) {
            &:hover {
               color: red;
               span {
                  i,
                  &::before,
                  &::after {
                     background-color: red;
                     width: 100%;
                     transition: 0.3s;
                  }
               }
               em {
                  color: red;
               }
            }
         }

         span {
            width: 25px;
            height: 15px;
            position: relative;
            margin-right: 25px;

            i {
               position: absolute;
               content: "";
               width: 100%;
               height: 2px;
               left: 0;
               top: 50%;
               transform: translate(0%, -50%);
               background-color: #000;
            }

            &::before {
               position: absolute;
               content: "";
               width: 50%;
               height: 2px;
               top: 0;
               left: 0;
               background-color: #000;
               transition: 0.3s;
            }

            &::after {
               position: absolute;
               content: "";
               width: 50%;
               height: 2px;
               bottom: 0;
               right: 0;
               background-color: #000;
               transition: 0.3s;
            }
         }
         em {
            // position: absolute;
            left: 40px;
            text-transform: uppercase;
            font-style: normal;
         }
      }

      .menu-container {
         position: fixed;
         top: -130%;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: #252525;
         transition: top 0.6s ease 0s;

         &._active {
            top: 0;
         }
      }

      .menu-container .menu-items {
         display: flex;
         align-items: center;
         height: 100%;
         height: 100%;
         max-width: 100%;
         position: relative;
         right: 0;
         bottom: 0;
      }
      .menu-items {
         color: white;
         .left-menu__top {
            grid-column: 2;
            .left-menu__top-langs {
               display: flex;
               align-items: center;
               height: 130px;
               justify-content: center;
               column-gap: 15px;
               a {
                  transition: color 0.3s ease 0s;
                  @media (any-hover: hover) {
                     &:hover {
                        color: red;
                     }
                  }
               }
            }
         }
         .container {
            @media (min-width: (1600px)) {
               max-width: 1790px;
            }
         }
      }

      .menu-items .left-menu {
         // height: 100%;
         height: 100vh;
         width: 70%;
         display: grid;
         grid-template-columns: 1fr 1fr;
         gap: 20px;
         overflow: auto;
      }
      .top-menu {
         display: none;
      }

      .left-menu__button {
         display: none;
         button {
            background-color: #e70000;
            color: white;
            font-size: 12px;
            padding: 13px 26px;
            border: 1px solid #e70000;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 2px;
         }
         @media (max-width: 968px) {
            display: block;
         }
      }
      .left-menu__spollers {
         display: none;
         font-size: 18px;
         color: white;
         li {
            &:not(:last-child) {
               margin-bottom: 20px;
            }
         }
      }
      .left-menu__spoller {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
      }
      .left-menu__spoller-sublist {
         display: flex;
         flex-direction: column;
         align-items: center;
         padding-top: 20px;
         &:not(:last-child) {
            margin-bottom: 20px;
         }
      }
      .left-menu__spoller-title {
         position: relative;
         padding-right: 20px;
         &::after {
            content: "\276F";
            position: absolute;
            top: 50%;
            font-size: 12px;
            right: 0;
            transform: translateY(-50%) rotate(90deg);
            transition: all 0.3s ease;
         }
         &.active {
            &::after {
               transform: translateY(-50%) rotate(-90deg);
            }
         }
      }
      .left-menu__socials {
         grid-column: span 2;
         padding-bottom: 40px;
         ul {
            display: flex;
            align-items: flex-end;
            column-gap: 40px;
            justify-content: flex-start;
            height: 100%;
            li {
               svg {
                  width: 16px;
                  height: 16px;
                  fill: white;
                  margin-right: 20px;
                  transition: all 0.3s ease 0s;
               }
               a {
                  display: flex;
                  align-items: center;
                  transition: all 0.3s ease 0s;
               }
               @media (any-hover: hover) {
                  &:hover {
                     svg {
                        fill: rgb(224, 137, 137);
                     }
                     a {
                        color: rgb(224, 137, 137);
                     }
                  }
               }
            }
         }
      }
      .left-menu__middle {
         grid-column: span 2;
         display: flex;
         align-items: flex-start;
         justify-content: space-between;
         column-gap: 20px;
      }

      .left-menu .first-block {
         display: block;
         flex: 1 1 50%;

         nav {
            ul {
               li {
                  color: #fff;
                  font-size: 32px;
                  line-height: 1.2;
                  cursor: pointer;
                  margin-bottom: 25px;
                  transition: 0.3s;
                  @media (any-hover: hover) {
                     &:hover {
                        color: red;
                     }
                  }

                  a {
                     color: #fff;
                     text-decoration: none;

                     transition: 0.3s;
                     @media (any-hover: hover) {
                        &:hover {
                           color: red;
                        }
                     }
                  }
               }
            }
         }
      }

      .left-menu .second-block {
         display: block;
         flex: 1 1 50%;

         nav {
            ul {
               li {
                  font-size: 32px;
                  line-height: 1.2;
                  margin-bottom: 25px;

                  a {
                     color: #fff;
                     text-decoration: none;
                     transition: 0.3s;

                     @media (any-hover: hover) {
                        &:hover {
                           color: red;
                        }
                     }
                  }
               }
            }
         }
      }

      .menu-items .right-menu {
         width: 30%;
         display: flex;
         flex-direction: column;
         height: 100%;
         position: absolute;
         right: 0;
         top: 0;
         bottom: 0;
      }

      .email-menu {
         background-color: #000;
      }

      .brief-menu {
         background-color: #202020;
      }

      .email-menu,
      .brief-menu {
         height: 50%;
         flex: 1 1 50%;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         padding: 0 20px;
      }

      .email-menu p {
         color: #ccc;
         margin-bottom: 15px;

         font-size: 16px;
      }

      .email-menu a {
         color: #fff;
         text-decoration: none;
         margin-bottom: 15px;
         font-size: 22px;
         transition: all 0.3s linear 0s;
         @media (any-hover: hover) {
            &:hover {
               color: red;
            }
         }
      }

      .brief-menu p {
         color: #ccc;
         text-align: center;
         margin-bottom: 15px;
         font-size: 18px;
      }

      .brief-menu {
         .btn {
            display: inline-block;
            position: relative;
            overflow: hidden;
            z-index: 2;
            color: #fff;
            border: 1px solid #fff;
            border-radius: 0px;
            padding: 13px 26px;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 600;
            margin-top: 20px;
            transition: 0.3s ease-in-out;
            letter-spacing: 2px;

            &::before {
               content: "";
               width: 100%;
               height: 100%;
               position: absolute;
               bottom: 0px;
               right: 0px;
               z-index: -1;
               background-color: #252525;
               transition: 0.3s ease-in-out;
            }
            @media (any-hover: hover) {
               &:hover {
                  color: #000;
                  background-color: #fff;
                  &::before {
                     bottom: 50px;
                  }
               }
            }
         }
      }

      &_menu {
         opacity: 1;
         transition: all 0.6s ease 0s;
         &._active {
            opacity: 0;
            pointer-events: none;
         }
         nav {
            ul {
               width: 400px;
               display: flex;
               align-items: center;
               justify-content: space-between;
               li {
                  font-size: 13px;
                  text-transform: uppercase;
                  a {
                     color: #000;
                     text-decoration: none;
                     transition: 0.3s;
                     &:hover {
                        color: red;
                     }
                  }
               }
               .sub-menu {
                  position: relative;
                  padding-right: 15px;
                  &::after {
                     content: "\276F";
                     position: absolute;
                     top: 50%;
                     right: 0;
                     transform: translateY(-50%) rotate(90deg);
                     transition: all 0.3s ease;
                  }

                  ul {
                     opacity: 0;
                     visibility: hidden;
                     pointer-events: none;
                     display: flex;
                     transform-origin: 0 0;
                     transform: rotateX(90deg);
                     flex-direction: column;
                     padding: 30px 20px 20px 20px;
                     background-color: #fff;
                     width: 250px;
                     position: absolute;
                     left: -25px;
                     transition: all 0.4s ease-in-out 0s;
                     &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 10px;
                        bottom: 0;
                        background-color: #e6e6e6;
                        pointer-events: none;
                     }

                     li {
                        &:first-child {
                           margin-top: 0px;
                        }
                        width: 100%;
                        margin-top: 15px;
                        z-index: 2;
                        a {
                           font-size: 13px;
                        }
                     }
                  }

                  &:hover {
                     cursor: pointer;
                     color: #f00;
                     transition: 0.3s;
                     ul {
                        transform: rotateX(0deg);
                        opacity: 1;
                        visibility: visible;
                        pointer-events: all;
                     }

                     &::after {
                        transform: translateY(-50%) rotate(270deg);
                     }
                  }
               }
            }
         }
      }

      &_contacts {
         display: flex;
         align-items: center;
         transition: all 0.6s ease 0s;
         opacity: 1;

         &._active {
            opacity: 0;
            pointer-events: none;
         }
         a {
            text-decoration: none;
            color: #000;
            text-transform: uppercase;
            font-weight: 600;
            margin: 5px 20px 0 0;
            transition: 0.3s;
            display: flex;
            align-items: center;
            white-space: nowrap;
            &:hover {
               color: #f00;
            }
            &:nth-child(1) {
               svg {
                  fill: currentColor;
               }
            }
         }
         .open-modal {
            border: 1px solid #f00;
            border-radius: 0px;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
            padding: 13px 26px;
         }

         .btn {
            display: inline-block;
            position: relative;
            overflow: hidden;
            z-index: 2;
            color: #fff;
            white-space: nowrap;

            &::before {
               content: "";
               width: 100%;
               height: 100%;
               position: absolute;
               top: 0px;
               left: 0px;
               z-index: -1;
               background-color: #f00;
               transition: top 0.3s;
            }

            &:hover {
               color: #f00;
               &::before {
                  top: 50px;
               }
            }
         }
      }
   }
   .header__logo {
      transition: all 0.6s ease 0s;
      &._active {
         position: relative;
         z-index: 2;
      }
   }
}
.left-menu__middle {
   position: relative;
}
.first-block {
   // .first-block__menu

   &__menu {
   }

   // .first-block__menu-list

   &__menu-list {
   }

   // .first-block__menu-list__item
   &__menu-list__item {
      span {
         position: relative;
         padding-right: 20px;

         &::after {
            content: "\276F";
            position: absolute;
            top: 50%;
            right: 0;
            font-size: 13px;
            transform: translateY(-50%) rotate(90deg);
         }
      }
   }

   // .first-block__menu-sublist

   &__menu-sublist {
      position: absolute;
      display: flex;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      // align-items: center;
      justify-content: space-between;
      column-gap: 20px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #252525;
      z-index: 1;
      transition: all 0.6s ease 0s;
      &._active {
         opacity: 1;
         visibility: visible;
         pointer-events: all;
      }
   }

   // .first-block__menu-sublist__item
   &__menu-sublist__item {
      color: #fff;
      font-size: 32px;
      line-height: 1.2;
      cursor: pointer;
      margin-bottom: 25px;
      transition: 0.6s;
      @media (any-hover: hover) {
         a {
            &:hover {
               color: red;
            }
         }
      }
   }

   // .first-block__menu-sublist-arrow-wrapper

   &__menu-sublist-arrow-wrapper {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 56px;
      height: 56px;
      top: -100px;
      left: 0;
      border: 1px solid #cbcbcb;
      border-radius: 100%;
      cursor: pointer;
      transition: all 0.6s ease 0s;
      @media (any-hover: hover) {
         &:hover {
            background-color: red;
         }
      }
   }
   // .first-block__menu-sublist-arrow

   &__menu-sublist-arrow {
      transform: rotate(180deg);
      transition: all 0.6s ease 0s;
   }

   // .first-block__menu-sublist-left

   &__menu-sublist-left {
      flex: 0 1 50%;
   }

   // .first-block__menu-sublist-right

   &__menu-sublist-right-wrapper {
      flex: 0 1 50%;
   }
}

// media
@media (max-width: (1600px)) {
   .header__container {
      max-width: 1280px;
      padding: 0 15px;
      height: 80px;
      column-gap: 20px;
   }
   .left-menu__top-langs {
      height: 80px !important;
   }
}

@media (max-width: (1200px)) {
   .header {
      height: 60px;
   }
   .header__container {
      max-width: 960px;
      height: 60px;
   }
   .header__container_menu {
      display: none;
   }

   .header__container_contacts {
      column-gap: 20px;
      a {
         margin: 0;
         font-weight: 500;
      }
   }
   .left-menu__top-langs {
      height: 60px !important;
   }
   .header__container .left-menu .first-block nav ul li {
      font-size: 18px;
   }
   .header__container .left-menu .second-block nav ul li {
      font-size: 18px;
   }
   .first-block__menu-sublist li {
      font-size: 18px;
   }
   .left-menu__socials span {
      display: none;
   }
}
@media (max-width: (968px)) {
   .header .header__logo._active {
      z-index: 0;
   }
   .header__container {
      max-width: 720px;
   }
   .header__container .menu-container .menu-items {
      display: flex;
      flex-direction: column;
      overflow: auto;
      min-height: 100vh;
      height: 100%;
      align-items: start;
      .container {
         height: 100%;
         display: flex;
         flex-direction: column;
      }
   }
   .header__container .menu-items .left-menu {
      width: 100%;
      max-height: unset;
      height: unset;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .header__container .left-menu__middle {
      flex-direction: column;
   }
   .header__container .menu-items .right-menu {
      position: relative;
      padding-top: 20px;
      display: flex;
      flex-direction: row;
      height: 60vh;
      bottom: 0;
      left: 0;
      right: 0;
      top: unset;
      width: 100%;
   }
   .header__container .brief-menu,
   .header__container .email-menu {
      height: 100%;
      // margin: 0 -20px;
   }
   .header__container .brief-menu {
      .btn {
         margin-top: 0;
         color: #232323;
         font-size: 12px;

         &::before {
            border: 1px solid #fff;
            background-color: #fff;
         }
      }
      p {
         display: none;
      }
   }
   .header__container_contacts .open-modal {
      display: none;
   }
   .header__container_logo {
      justify-content: space-between;
      width: 100%;
   }
   .header__container .top-menu {
      display: block;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   .header__container .burger-menu {
      z-index: 0;
   }
   .top-menu__close {
      display: flex;
      align-items: center;
      column-gap: 10px;

      i {
         font-size: 25px;
      }
      span {
         font-size: 14px;
         font-weight: 300;
         letter-spacing: 1px;
         text-transform: uppercase;
      }
   }
   .header__container .left-menu__middle {
      display: none;
   }
   .header__container .left-menu__spollers {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 15px;
   }
   .header__container .menu-items .left-menu__top .left-menu__top-langs {
      height: auto !important;
   }
   .header__container .top-menu {
      margin-bottom: 20px;
   }
   .header__container .left-menu__socials {
      padding-bottom: 0;
      margin-top: 40px;
   }

   .header__container .email-menu,
   .header__container .brief-menu,
   .header__container .email-menu {
      padding: 20px 0;
   }
}
@media (max-width: (592px)) {
   .header__container .menu-items .right-menu {
      flex-direction: column;
      height: 80vh;
   }

   .header__container .brief-menu,
   .header__container .email-menu a {
      font-size: 25px;
   }
   .header__container .left-menu__spoller-title {
      padding-right: 15px;
   }
   .header__container_contacts span {
      display: none;
   }
   .header__container .burger-menu span {
      margin-right: 10px;
   }
   .header__container .burger-menu span::after,
   .header__container .burger-menu span::before {
      height: 2px;
   }
   .header__container .burger-menu .burgerTextOpen {
      font-size: 14px;
      letter-spacing: 0.1em;
   }
   .header__container .left-menu__button button {
      border-radius: 0;
   }
   .header__container .top-menu {
      margin-bottom: 10px;
   }
}
@media (max-width: ( 480px)) {
   .header__container .menu-items .left-menu__top .left-menu__top-langs {
      font-size: 12px;
      column-gap: 10px;
   }
   .top-menu__close {
      span {
         font-size: 12px;
      }
   }
   .header__container .left-menu__socials ul li svg {
      width: 20px;
      height: 20px;
      margin-right: 0;
   }
}
